{% extends "AppCoder/base.html" %}
{% load static %}

{% block contenido2 %}
<div class="masthead-heading text-uppercase">Nuestra <br> Historia</div>
{% endblock %}

{% block contenido %}

<div class="text-center">
<h1> {{ mensaje }}</h1>
</div>
<!-- About-->
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Acerca del Proyecto e Integrantes</h2>
            <h3 class="section-subheading text-muted">Realizamos una página que ofrece la visualización de productos, servicios y proveedores.
                .</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'AppCoder/assets/img/about/Miguel.jpeg' %}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="subheading">Miguel Toledo</h4>
                        <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/miguel-angel-toledo-mora/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Se ocupó de la realización de los metodos de Lectura, Carga en las diferentes secciones.
                    </p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'AppCoder/assets/img/about/Milton.jpeg' %}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="subheading">Milton Clavijo</h4>
                        <a class="btn btn-dark btn-social mx-2"  href="https://www.linkedin.com/in/milton-clavijo-48529315a/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Realizó el login, logout, registro, mejoras en el html
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'AppCoder/assets/img/about/Pablo.jpeg' %}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="subheading">Pablo Bravo</h4>
                        <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/pablobravovargas" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Realizó las busquedas, vídeo explicativo, readme, pruebas
                    </p></div>
                </div>
            </li>
        </ul>
    </div>
</section>

{% endblock %}  