{% extends "AppCoder/base.html" %}
{% load static %}

{% block contenido2 %}
<div class="masthead-heading text-uppercase"> Nuestros <br> Clientes</div>
{% endblock %}

{% block contenido %}

<!-- Buscar-->

<h6>Buscar clientes por ciudad</h6>
<form action = "/AppCoder/buscarcliente" method="GET">
    <input type="text" name="ciudad" id="ciudad">
    <input type="submit" class="btn btn-dark btn-sm active" value="Buscar">
</form>

<!---->

        {% if formularioProductos.errors %}
        <h2 style="color: red;">Error en el formulario</h2>
        {% endif %}

    <div class="p-3 mb-2 bg-light text-dark">
        <form action="/AppCoder/productos" method="POST"> {% csrf_token %}
            <br>
            <a href="{% url 'Clientes' %}" class="btn btn-dark float-left">
                Crear nuevo cliente
            </a>
            <hr>
              <table class="table table-bordered table-info mt-5 text-center">
              <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Telefono</th>
                    <th>Ciudad</th>
                    <th>Vendedor</th>
                    <th>Fecha de Alta</th>
                    <th colspan="3">Acciones</th>
                  </tr>
                </thead>
                <tbody>    
                {% for p in clientes %}
                    <tr>
                        <th>{{p.nombre}}</th>
                        <td>{{p.direccion}}</th>
                        <td>{{p.telefono}}</td>
                        <td>{{p.ciudad}}</td>
                        <td>{{p.vendedor}}</td>
                        <td>{{p.fechaAlta}}</td>
                            <td>
                                <a href="{% url 'EliminarCliente' p.nombre %}" class="btn btn-danger btn-sm active" role="button" aria-pressed="true">Eliminar</a>
                                <a href="{% url 'EditarCliente' p.nombre %}" class="btn btn-warning btn-sm active" role="button" aria-pressed="true">Editar</a>
                                <a href="{% url 'DetalleCliente' p.id %}" class="btn btn-success btn-sm active" role="button" aria-pressed="true">Ver mas</a>
                            </td>
                    </tr>
                    {% endfor %} 
                </tbody>
                </table>
        </form>  
    </div>      
{% endblock %}
