{% extends "AppCoder/base.html" %}
{% load static %}

{% block contenido2 %}
<div class="masthead-heading text-uppercase"> Nuestros <br> Servicios</div>
{% endblock %}

{% block contenido %}

<!-- Buscar-->

<h6>Buscar servicio por Tipo de Servicio</h6>
<form action = "/AppCoder/buscarservicio" method="GET">
    <input type="text" name="tipoServicio" id="tipoServicio">
    <input type="submit" class="btn btn-dark btn-sm active" value="Buscar">
</form>

<!---->

        {% if formularioProductos.errors %}
        <h2 style="color: red;">Error en el formulario</h2>
        {% endif %}

    <div class="p-3 mb-2 bg-light text-dark">
        <form action="" method="POST"> {% csrf_token %}
                
                <a href="{% url 'Servicios' %}" class="btn btn-dark btn-sm active" role="button" aria-pressed="true">Crear nuevo servicio</a>
                <hr>
                <table class="table table-bordered table-info mt-5 text-center">
                    <thead>
                        <tr>
                          <th>Nombre</th>
                          <th>Tipo de Servicio</th>
                          <th>Descripción</th>
                          <th colspan="3">Acciones</th>
                        </tr>
                      </thead>
                      <tbody>    
                        {% for j in servicios %}
                          <tr>
                              <th>{{j.nombre}}</th>
                              <td>{{j.tipoServicio}}</th>
                              <td>{{j.descripcion}}</td>
                                  <td>
                                      <a href="{% url 'EliminarServicio' j.nombre %}" class="btn btn-danger btn-sm active" role="button" aria-pressed="true">Eliminar</a>
                                      <a href="{% url 'EditarServicio' j.nombre %}" class="btn btn-warning btn-sm active" role="button" aria-pressed="true">Editar</a>
                                      <a href="{% url 'DetalleServicio' j.id %}" class="btn btn-success btn-sm active" role="button" aria-pressed="true">Ver mas</a>
                                  </td>
                          </tr>
                          {% endfor %} 
                      </tbody>
                      </table>
        </form>
    </div>
{% endblock %}
