{% extends "AppCoder/base.html" %}
{% load static %}

{% block contenido2 %}
<div class="masthead-heading text-uppercase"> Nuestros <br> Productos</div>
{% endblock %}

{% block contenido %}

    <h6>Los productos con la misma marca son:</h6>

    {% if nombre %}

        <ul>
            <table class="table table-bordered table-info mt-5 text-center">
                <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Modelo</th>
                      <th>Marca</th>
                    </tr>
                  </thead>
                  <tbody>  
                    {% for Productos in nombre %}
                        <tr>
                            <th>{{Productos.nombre}}</th>
                            <td>{{Productos.modelo}}</th>
                            <td>{{Productos.marca}}</td>
                        <tr>

                        {% endfor %}
                    </tbody>
                    </table> 
        </ul>

    {% endif %}


{% endblock %}