{% extends "AppCoder/base.html" %}
{% load static %}

{% block contenido2 %}
<div class="masthead-heading text-uppercase"> Nuestros <br> Servicios</div>
{% endblock %}

{% block contenido %}

    <h6>Los productos con la misma marca son:</h6>

    {% if nombre %}

        <ul>
            <table class="table table-bordered table-info mt-5 text-center">
                <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Tipo de Servicio</th>
                      <th>Descripción</th>
                    </tr>
                  </thead>
                  <tbody>  
                    {% for Servicios in nombre %}
                        <tr>
                            <th>{{Servicios.nombre}}</th>
                            <td>{{Servicios.tipoServicio}}</th>
                            <td>{{Servicios.descripcion}}</td>
                        <tr>

                        {% endfor %}
                    </tbody>
                    </table> 
        </ul>

    {% endif %}


{% endblock %}